/Elderland/.vscode/*
/Elderland/Library/*
/Elderland/Logs/*
/Elderland/obj/*
/Elderland/Packages/*
/Elderland/Assembly-CSharp.csproj/*
/Elderland/Elderland.sln/*
/Elderland/NavMeshComponents.csproj/*
/Elderland/NavMeshComponentsEditor.csproj/*